.header__container  {
  width: 100%;
  background: orange;
}
.header__wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.header {
  width: 100%;
  height: 60px;
  color:black;
  line-height: 60px;
}
.header__logo {
  height: 60%;
  margin-top:10px;
}
.nav {
  float:right;
}
.nav__item {
  display: inline;
}
.header__banner {
  width: 100%;
  position: relative;
  z-index: 0;
  margin-top: -60px;
}
.page-wrapper {
  @extend .header__wrapper;
}
.section {
  width: 100%;
  height: 300px;
  background: #ECECEC;
  border:1px solid #bababa;
  text-align: center;
  line-height: 300px;
  color:#959595;
  font-size: 36px;
}
.footer {
  width: 100%;
  height: 400px;
  line-height: 400px;
  text-align: center;
  background: black;
}
