$text__family--OpenSans:  'Open Sans', sans-serif;
$text__family--UniSans:  'Uni Sans', sans-serif;
$base__font-size: 16px !default;
$base__line: 20 !default;

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: 'Uni Sans';
    src: url('/ui/uni-sans-heavy.otf') format('opentype'),
}
html {
  font-family: $text__family--UniSans;
	font-size: $base__font-size;
}
