$text__family--Roboto:  'Roboto', sans-serif;
$text__family--UniSans:  'Roboto', sans-serif;
$base__font-size: 15px !default;
$base__line: 20 !default;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

@font-face {
    font-family: 'Uni Sans', sans-serif;
    src: url('../../font/uni-sans-heavy.otf') format('opentype'),
}
html {
  font-family: $text__family--Roboto;
	font-size: $base__font-size;
  font-weight:300;
  color: #333;
  @include breakpoint(large){
    font-size:20px;
  }
}
