@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

a:hover, a:active, a:focus {
  outline: none; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit; }

@font-face {
  font-family: 'Uni Sans';
  src: url(../../assets/font/uni-sans-heavy.ttf) format("truetype"), url(../../assets/font/uni-sans-heavy.eot), url(../../assets/font/uni-sans-heavy.woff) format("woff"), url(../../assets/font/uni-sans-heavy.svg) format("svg"); }

html {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #333; }
  @media (min-width: 2000px) {
    html {
      font-size: 20px; } }

b {
  font-weight: bold;
  font-weight: bold;
  background: #dedede;
  color: black;
  padding: 5px 9px; }

.mobile-break {
  display: none; }
  @media (max-width: 640px) {
    .mobile-break {
      display: block; } }

.header__container {
  width: 100%;
  position: fixed;
  background: white;
  z-index: 10;
  background: rgba(255, 255, 255, 0); }
  @media (max-width: 640px) {
    .header__container {
      position: static; } }

.jobs-page .header__container {
  background: rgba(255, 255, 255, 0.8); }

.header__wrapper, .content-wrapper {
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
  position: relative;
  z-index: 1; }
  @media (max-width: 640px) {
    .header__wrapper, .content-wrapper {
      padding: 0; } }

.header {
  width: 100%;
  height: 60px;
  color: black;
  line-height: 60px; }
  @media (max-width: 640px) {
    .header {
      height: auto;
      line-height: 50px;
      float: left;
      position: relative; } }

.header__logo {
  width: 110px;
  margin-top: 15px; }
  @media (min-width: 2000px) {
    .header__logo {
      width: 158px; } }
  @media (max-width: 640px) {
    .header__logo {
      width: 90px;
      margin-left: 15px; } }

.menu-ico {
  display: none;
  height: 60px;
  width: 60px;
  background-image: url(../../assets/img/navi-ico.png);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0; }
  @media (max-width: 640px) {
    .menu-ico {
      display: block; } }
  .menu-ico.active {
    background-image: url(../../assets/img/close-ico.png); }

.jobs-page .menu-ico {
  display: none; }

.nav {
  float: right;
  -webkit-transition: max-height 0.5s linear;
  -o-transition: max-height 0.5s linear;
  -ms-transition: max-height 0.5s linear;
  transition: max-height 0.5s linear; }
  @media (max-width: 640px) {
    .nav {
      width: 100%;
      max-height: 0;
      overflow: hidden; } }
  .nav.active {
    max-height: 391px; }

.nav__item {
  display: inline;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-left: 54px;
  font-size: 0.8rem;
  cursor: pointer; }
  @media (max-width: 640px) {
    .nav__item {
      width: 100%;
      display: block;
      text-align: center;
      margin: 0;
      height: 67px;
      line-height: 67px;
      color: white;
      background: #333;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 2px;
      border-bottom: 1px solid #3A3A3A; } }

.social--mobile {
  display: none;
  height: 148px; }
  .social--mobile .pre-footer__text {
    padding: 0;
    font-size: 15px;
    letter-spacing: 0px; }
  .social--mobile .social__item {
    height: 25px;
    margin-top: 0; }
  @media (max-width: 640px) {
    .social--mobile {
      display: block; } }

.banner__container {
  width: 100%;
  float: left;
  background: #f7f7f7; }

.jobs-page .banner__container {
  margin-top: -15%; }
  @media (max-width: 640px) {
    .jobs-page .banner__container {
      margin-top: 0; } }

.header__banner {
  display: block;
  width: 100%;
  position: relative;
  z-index: 0; }
  @media (max-width: 640px) {
    .header__banner {
      display: none; } }

.header__banner--mobile {
  display: none;
  width: 100%; }
  @media (max-width: 640px) {
    .header__banner--mobile {
      display: block; } }

.content-wrapper {
  overflow: hidden; }

.footer {
  width: 100%;
  text-align: center;
  background: #2D2D2D;
  overflow: hidden; }

.pre-footer {
  background: #323232; }

.pre-footer__text {
  color: #777777;
  padding: 38px 0 28px;
  font-size: 1.06667rem; }
  @media (max-width: 640px) {
    .pre-footer__text {
      font-size: 20px;
      padding-bottom: 16px;
      font-size: 15px; } }

.social {
  float: left;
  width: 100%;
  margin-bottom: 19px; }

.social > a:first-child {
  margin-left: 17px; }

.social__item {
  margin-right: 14px;
  margin-left: 13px;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 26px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms; }
  .social__item:hover {
    opacity: 0.8; }
  @media (max-width: 640px) {
    .social__item {
      height: 25px; } }

.twitt {
  height: 24px !important; }

.gplus {
  height: 23px !important; }

.location {
  color: white;
  text-align: left;
  margin-top: 111px;
  margin: 111px 100px 53px;
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 2000px) {
    .location {
      margin: 111px 80px 53px; } }
  @media (max-width: 1300px) {
    .location {
      margin: 0 5.5%;
      margin-top: 111px;
      margin-bottom: 80px; } }
  @media (max-width: 900px) {
    .location {
      margin: 0;
      margin-top: 111px;
      margin-bottom: 80px; } }
  @media (max-width: 640px) {
    .location {
      margin: 78px 0 0;
      width: 100%; } }

@media (max-width: 900px) {
  .location--first {
    float: left; } }

@media (max-width: 900px) {
  .location--last {
    float: right; } }

@media (max-width: 900px) {
  .location--wrapper {
    padding: 0 40px; } }

.location__heading {
  width: 100%;
  display: block;
  height: 29px;
  line-height: 1.2rem;
  margin-bottom: 9px; }
  @media (max-width: 640px) {
    .location__heading {
      width: 130px;
      margin: 0 auto; } }

.location__pin {
  width: 10px;
  float: left;
  margin-right: 14px; }
  @media (min-width: 2000px) {
    .location__pin {
      width: 15px; } }
  @media (max-width: 640px) {
    .location__pin {
      width: 15px;
      margin-top: -3px;
      margin-right: 10px; } }

.location__text {
  margin-bottom: 6px;
  color: #9b9b9b; }
  @media (max-width: 640px) {
    .location__text {
      text-align: center;
      font-size: 18px;
      line-height: 21px; } }

.footer__copyright {
  border-top: 1px solid #414141;
  height: 50px;
  line-height: 3.33333rem;
  color: #505050;
  text-align: left;
  /* float: left; */
  font-size: 0.8rem; }
  @media (min-width: 2000px) {
    .footer__copyright {
      height: 67px;
      line-height: 67px; } }
  @media (max-width: 640px) {
    .footer__copyright {
      margin-top: 30px;
      height: auto;
      text-align: center; } }

.webedia-logo {
  float: right;
  width: 115px;
  margin-top: 9px;
  line-height: 1.13333rem; }
  @media (min-width: 2000px) {
    .webedia-logo {
      margin-top: 14px;
      width: 135px; } }
  @media (max-width: 640px) {
    .webedia-logo {
      float: none;
      width: 115px;
      margin-top: 20px; } }

@media (max-width: 640px) {
  .city {
    font-size: 20px; } }

.copyright {
  float: left; }
  @media (max-width: 640px) {
    .copyright {
      float: none; } }

.section {
  width: 100%;
  text-align: center;
  color: #959595;
  font-size: 2.4rem; }
  @media (max-width: 640px) {
    .section {
      float: left; } }

.section--quote, .section--brands {
  background: #F8F7F5; }

.section--quote {
  float: left; }

.section--audience {
  background-image: url(../../assets/img/people.jpg);
  background-size: cover;
  background-position: center;
  background-color: #F8F7F5;
  background-repeat: no-repeat; }
  @media (max-width: 640px) {
    .section--audience {
      padding-bottom: 30px;
      background-image: url(../../assets/img/people-mobile.jpg); } }

.section--brands {
  padding-bottom: 119px;
  overflow: hidden; }
  @media (max-width: 640px) {
    .section--brands {
      padding-bottom: 0; } }

.section--about {
  padding-bottom: 120px;
  overflow: hidden; }
  @media (max-width: 640px) {
    .section--about {
      padding-bottom: 60px; } }

.quote {
  text-align: center;
  font-size: 2.06667rem;
  line-height: 2.93333rem;
  padding: 7.06667rem;
  color: #323232;
  position: relative; }
  @media (max-width: 640px) {
    .quote {
      display: none; } }

.quote--mobile {
  font-size: 22px;
  line-height: 30px;
  padding: 33px 30px;
  color: #323232;
  display: block;
  font-weight: 300;
  display: none; }
  @media (max-width: 640px) {
    .quote--mobile {
      display: block; } }
  .quote--mobile .quote__mark {
    font-size: 73px;
    position: absolute;
    font-family: helvetica;
    margin-left: -32px;
    margin-top: 13px;
    letter-spacing: -3px;
    font-weight: 500;
    color: #E5E4E2; }

.quote__mark {
  font-size: 217px;
  position: absolute;
  font-family: helvetica;
  margin-left: -116px;
  margin-top: 34px;
  letter-spacing: -3px;
  font-weight: 600;
  color: #E5E4E2;
  text-align: center; }

h2 {
  font-family: "Uni Sans", sans-serif;
  font-weight: 500;
  font-size: 3.13333rem;
  color: #323232; }
  @media (max-width: 640px) {
    h2 {
      font-size: 31px;
      font-weight: 400; } }

.about__heading {
  color: #323232;
  padding: 141px 0 71px; }
  @media (max-width: 640px) {
    .about__heading {
      padding: 65px 0 42px; } }

.about__text--center {
  color: #323232;
  line-height: 2.53333rem;
  font-size: 2rem;
  margin-bottom: 72px; }
  @media (max-width: 640px) {
    .about__text--center {
      font-size: 24px;
      line-height: 34px;
      padding: 0 10px;
      margin-bottom: 45px; }
      .about__text--center br {
        display: none; } }

@media (max-width: 640px) {
  .about__container {
    max-height: auto;
    overflow: hidden; } }

.about__text--left, .about__text--right {
  text-align: left;
  width: 50%;
  float: left; }
  .about__text--left p, .about__text--right p {
    line-height: 1.5rem;
    font-size: 1rem;
    padding-bottom: 25px;
    color: #323232; }
  @media (max-width: 640px) {
    .about__text--left, .about__text--right {
      width: 100%;
      padding: 0 20px !important; }
      .about__text--left p, .about__text--right p {
        font-size: 16px;
        line-height: 28px; } }

.about__text--left {
  padding-right: 17px; }

.about__text--right {
  padding-left: 17px; }

.read-more-button {
  cursor: pointer;
  display: none; }
  @media (max-width: 640px) {
    .read-more-button {
      display: block;
      width: 202px;
      line-height: 50px;
      height: 50px;
      border: 1px solid #C41230;
      text-align: center;
      margin: 0 auto;
      font-size: 20px;
      letter-spacing: 1px;
      color: #C41230;
      margin-top: 36px; } }

.audience__heading {
  padding: 0;
  padding-top: 5.8rem;
  padding-bottom: 11.73333rem; }
  @media (max-width: 640px) {
    .audience__heading {
      padding-top: 5rem;
      padding-bottom: 4.2rem; } }

@media (max-width: 1300px) {
  .audience__container {
    max-width: 780px;
    width: 100%;
    margin: 0 auto; } }

.audience__item {
  display: inline-block;
  padding: 18px 60px 151px; }
  @media (max-width: 640px) {
    .audience__item {
      width: 100%;
      padding: 0;
      margin-bottom: 33px; } }

.audience__content {
  margin-top: 10px; }
  @media (max-width: 640px) {
    .audience__content {
      margin-top: 0; } }

.audience__info--number {
  color: #14c7e2;
  font-family: "Uni Sans", sans-serif;
  font-weight: 500;
  font-size: 2.93333rem;
  float: left; }
  @media (max-width: 640px) {
    .audience__info--number {
      font-size: 50px; } }

@media (max-width: 640px) {
  .audience__image {
    width: 34%;
    float: left;
    padding: 0 9%; } }

.audience__icon {
  width: 70px; }
  @media (max-width: 640px) {
    .audience__icon {
      width: 100%; } }
  @media (min-width: 2000px) {
    .audience__icon {
      width: 85px; } }

.audience__info {
  font-size: 1.33333rem;
  float: left;
  text-align: left;
  margin-left: 12px;
  color: #323232;
  font-weight: 500; }
  @media (max-width: 640px) {
    .audience__info {
      font-size: 17px;
      font-weight: bold;
      margin-left: 17px; } }

.brands__heading {
  padding: 96px 0 82px;
  padding-top: 9.46667rem;
  padding-bottom: 2.8rem; }
  @media (max-width: 640px) {
    .brands__heading {
      padding: 78px 0 27px; } }

@media (max-width: 1300px) {
  .brand__container {
    display: inline-block;
    overflow: hidden; } }

@media (max-width: 640px) {
  .brand__container {
    display: block; } }

.brand {
  width: 382px;
  height: 382px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 392px;
  float: left;
  cursor: pointer;
  margin: 13px;
  -webkit-transition: background-size 100ms ease-in;
  -o-transition: background-size 100ms ease-in;
  -ms-transition: background-size 100ms ease-in;
  transition: background-size 100ms ease-in; }
  .brand img {
    width: 270px;
    -webkit-backface-visibility: hidden; }
  @media (max-width: 1300px) {
    .brand {
      display: inline-block;
      float: none;
      vertical-align: top;
      margin: 9px; } }
  @media (max-width: 640px) {
    .brand {
      height: 100vw;
      width: 100vw;
      margin: 0;
      background-size: cover; }
      .brand img {
        width: 69%;
        max-width: 240px; } }

.brand--first {
  margin-left: 0px; }
  @media (max-width: 1300px) {
    .brand--first {
      margin-left: 9px; } }
  @media (max-width: 640px) {
    .brand--first {
      margin-left: 0px; } }

.brand--last {
  margin-right: 0px; }
  @media (max-width: 1300px) {
    .brand--last {
      margin-right: 9px; } }
  @media (max-width: 640px) {
    .brand--last {
      margin-right: 0px; } }

.yasmina {
  background-image: url(../../assets/img/yasmina.png); }

.ailati {
  background-image: url(../../assets/img/3a2ilati.png); }

.atyabtabkha {
  background-image: url(../../assets/img/at.png); }

.mazyun {
  background-image: url(../../assets/img/mazyun.png); }

.mashacheri {
  background-image: url(../../assets/img/mash.png); }

.warrini {
  background-image: url(../../assets/img/warrini-pics.png); }

.brand__mask {
  background: black;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.5;
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms; }

.brand__logo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%); }

.brand:hover > .brand__mask {
  opacity: 0.7; }

.jobs__container {
  padding-left: 86px;
  margin-bottom: 167px;
  overflow: hidden;
  padding: 0 240px; }
  @media (min-width: 2000px) {
    .jobs__container {
      padding: 0 120px; } }
  @media (max-width: 1300px) {
    .jobs__container {
      padding: 0 40px;
      width: 100%;
      max-width: 1000px;
      margin: 0 auto; } }
  @media (max-width: 640px) {
    .jobs__container {
      padding: 0;
      margin-bottom: 30px; } }

.jobs__heading {
  padding: 133px 0 78px;
  padding-top: 7.86667rem;
  padding-bottom: 3.46667rem; }
  @media (max-width: 640px) {
    .jobs__heading {
      padding: 67px 0 30px; } }

.jobs__text {
  font-size: 1.93333rem;
  color: #323232;
  padding: 0 20px;
  line-height: 2.46667rem;
  margin-bottom: 128px; }
  @media (max-width: 640px) {
    .jobs__text {
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 94px; } }

.job {
  overflow: hidden;
  float: left;
  margin-bottom: 89px;
  width: 100%; }
  @media (max-width: 640px) {
    .job {
      padding: 25px 0px 45px;
      width: 90%;
      margin: 0 5%;
      border-bottom: 1px solid #ccc; } }

.job--inactive .job__heading {
  color: #ccc; }

.job--inactive .job__button {
  background: #ccc; }
  .job--inactive .job__button:hover {
    background: #ccc;
    color: white; }

.job--last {
  border-bottom: none; }

.job__heading {
  text-align: left;
  font-size: 1.46667rem;
  color: #323232;
  font-weight: 400;
  width: 71%;
  float: left; }
  @media (max-width: 640px) {
    .job__heading {
      width: 100%;
      font-size: 24px;
      text-align: center;
      float: none; } }

.job__text {
  font-size: 1.06667rem;
  text-align: left;
  line-height: 1.46667rem;
  width: 70%;
  float: left;
  display: none; }

.job__button {
  float: right;
  width: 150px;
  height: 2.66667rem;
  line-height: 2.66667rem;
  background: #323232;
  color: white;
  font-size: 0.86667rem;
  text-decoration: none;
  -webkit-transition: color 500ms;
  -o-transition: color 500ms;
  -ms-transition: color 500ms;
  transition: color 500ms; }
  .job__button:hover {
    background: #393939; }
  @media (max-width: 640px) {
    .job__button {
      margin: 0 auto;
      float: none;
      display: table;
      height: 54px;
      line-height: 54px;
      width: 200px;
      margin-top: 24px;
      font-size: 20px; } }

.tag__container {
  width: 100%;
  float: left; }
  @media (max-width: 640px) {
    .tag__container {
      display: none; } }

.tag__container--mobile {
  display: none; }
  @media (max-width: 640px) {
    .tag__container--mobile {
      display: block;
      width: 100%;
      overflow: hidden; } }

.tag {
  color: #C41230;
  float: left;
  font-size: 0.93333rem;
  font-weight: 400;
  margin-right: 8px; }
  @media (max-width: 640px) {
    .tag {
      font-size: 18px;
      float: none;
      display: inline-block; } }

.footer {
  width: 100%;
  text-align: center;
  background: #2D2D2D;
  overflow: hidden; }

.pre-footer {
  background: #323232; }

.pre-footer__text {
  color: #777777;
  padding: 38px 0 28px;
  font-size: 1.06667rem; }
  @media (max-width: 640px) {
    .pre-footer__text {
      font-size: 20px;
      padding-bottom: 16px;
      font-size: 15px; } }

.social {
  float: left;
  width: 100%;
  margin-bottom: 19px; }

.social__item {
  margin-right: 14px;
  margin-left: 13px;
  margin-top: 10px;
  margin-bottom: 15px;
  height: 26px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms; }
  .social__item:hover {
    opacity: 0.8; }
  @media (max-width: 640px) {
    .social__item {
      height: 25px; } }

.location {
  color: white;
  text-align: left;
  margin-top: 111px;
  margin: 111px 100px 53px;
  display: inline-block;
  vertical-align: top; }
  @media (min-width: 2000px) {
    .location {
      margin: 111px 80px 53px; } }
  @media (max-width: 1300px) {
    .location {
      margin: 0 5.5%;
      margin-top: 111px;
      margin-bottom: 80px; } }
  @media (max-width: 900px) {
    .location {
      margin: 0;
      margin-top: 111px;
      margin-bottom: 80px; } }
  @media (max-width: 640px) {
    .location {
      margin: 78px 0 0;
      width: 100%; } }

@media (max-width: 900px) {
  .location--first {
    float: left; } }

@media (max-width: 900px) {
  .location--last {
    float: right; } }

@media (max-width: 900px) {
  .location--wrapper {
    padding: 0 40px; } }

.location__heading {
  width: 100%;
  display: block;
  height: 29px;
  line-height: 1.2rem;
  margin-bottom: 9px; }
  @media (max-width: 640px) {
    .location__heading {
      width: 130px;
      margin: 0 auto; } }

.location__pin {
  width: 10px;
  float: left;
  margin-right: 14px; }
  @media (min-width: 2000px) {
    .location__pin {
      width: 15px; } }
  @media (max-width: 640px) {
    .location__pin {
      width: 15px;
      margin-top: -3px;
      margin-right: 10px; } }

.location__text {
  margin-bottom: 6px;
  color: #9b9b9b; }
  @media (max-width: 640px) {
    .location__text {
      text-align: center;
      font-size: 18px;
      line-height: 21px; } }

.footer__copyright {
  border-top: 1px solid #414141;
  height: 50px;
  line-height: 3.33333rem;
  color: #505050;
  text-align: left;
  /* float: left; */
  font-size: 0.8rem; }
  @media (min-width: 2000px) {
    .footer__copyright {
      height: 67px;
      line-height: 67px; } }
  @media (max-width: 640px) {
    .footer__copyright {
      margin-top: 30px;
      height: auto;
      text-align: center; } }

.webedia-logo {
  float: right;
  width: 115px;
  margin-top: 9px;
  line-height: 1.13333rem; }
  @media (min-width: 2000px) {
    .webedia-logo {
      margin-top: 14px;
      width: 135px; } }
  @media (max-width: 640px) {
    .webedia-logo {
      float: none;
      width: 115px;
      margin-top: 20px; } }

@media (max-width: 640px) {
  .city {
    font-size: 20px; } }

.copyright {
  float: left; }
  @media (max-width: 640px) {
    .copyright {
      float: none; } }
